.promo {
    overflow: hidden;
    background: url(../img/promo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    & .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 5;
    }
    &__wrapper {
        display: flex;
    }
}

@media (max-width: 768px) {
    .promo {
        min-height: 500px;
        margin-bottom: 40px;
        & .container {
            &_promo {
                padding-top: 140px;
            }
        }
        &__info {
            padding-bottom: 15px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 1.9px;
            color: #fff;
        }
        &__wrapper {
            flex-direction: column;
            align-items: flex-start;
            padding-top: 20px;
            & .btn {
                margin-bottom: 15px;
            }
        }
    }
}

@media (min-width: 769px) {
    .promo {
        min-height: 901px;
        margin-bottom: 80px;
        & .container {
            &_promo {
                padding-top: 264px;
            }
        }
        &__info {
            padding-bottom: 24px;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 1.9px;
            color: #fff;
        }
        &__wrapper {
            justify-content: space-between;
            align-items: center;
            padding-top: 40px;
        }
    }
}